
link(rel='stylesheet', href='/css/styles.css')
link(href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css", rel="stylesheet")
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Major+Mono+Display&display=swap", rel="stylesheet")
link(href="https://fonts.googleapis.com/css2?family=Englebert&family=Freckle+Face&family=Josefin+Slab:wght@100..700&display=swap" rel="stylesheet")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

block content
  div.inicio.container
    nav
      div.navbar
        div.container.nav-container
          input.checkbox(type="checkbox" name="" id="")
          div.icon-lines
            span.line.line1
            span.line.line2
            span.line.line3
          div.logo
            i(class="ri-text-block")
            h1 #{title}
          div.menu-items
            li
              a(href='/') Home
            li
              a(href='/registro') Registrate
            li
              a(href='/login') Inicia sesion
            if user != ''
              li
                a(href='/logout')
                  i(class='material-symbols-rounded') logout
    form(action="/Cifrar" method="post")
      div.contenido_container
        div.campos_container
          div.seleccion_container
            select.opcionStyle(id='opcion' name='opcion')
              option(value="codificar") Cifra en:
              option(value="Hexa") Hexadecimal
              option(value="Cesar") Código césar
              option(value="Base64") Base 64
              option(value="Binario") Binario
            input.saltoStyle(type="number" placeholder="Desplazamiento (para César)" id="saltosCesar" name="saltosCesar")
          div.campo1_container
            label.label(for="trans-text") Ingresa el texto que deseas codificar
            textarea.textarea(id="textoOriginal" name="textoOriginal", cols="30", rows="10")= textoOriginal
          div.botones
            button.codiButton(type="submit" id="cifrarBoton" name="cifrarBoton") CODIFICAR
            button.codiButton(type="submit", onclick="refreshPage()") 
              i(class="ri-refresh-line") 
          div.campo2_container
            label.label(for="trans-text") Tu texto codificado: 
            textarea.textarea(name="textoCifradoResultado",id="textoCifradoResultado", rows="10", cols="30")= textoCifradoResultado
script.
  function refreshPage(){
    document.getElementById('textoOriginal').value = ''; // Limpiar el contenido del textarea
    document.getElementById('textoCifradoResultado').value = ''; // Limpiar el contenido del textarea
    window.location.reload();
  }
