//extends layout 

link(rel='stylesheet', href='/css/styles.css')
link(href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css", rel="stylesheet")
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Major+Mono+Display&display=swap", rel="stylesheet")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

block content
  div.inicio.container
    nav
      div.navbar
        div.container.nav-container
          input.checkbox(type="checkbox" name="" id="")
          div.icon-lines
            span.line.line1
            span.line.line2
            span.line.line3
          div.logo
            i(class="ri-text-block")
            h1 #{title}
          div.menu-items
            li
              a(href="#") Home
            li
              a(href="#") about
            li
              a(href="#") blogs
            li
              a(href="#") portfolio
            li
              a(href="#") contact
    div.contenido_container
      div.campos_container
        div.campo1_container
          label.label(for="trans-text") Ingresa el texto que deseas codificar
          textarea.textarea(name="", cols="30", rows="10")
        div.campo2_container
          label.label(for="trans-text") Tu texto esta codificado en: 
          textarea.textarea(name="", cols="30", rows="10")
      input(type="button", value="CODIFICAR")




