//extends layout 

link(rel='stylesheet', href='/css/styles.css')
link(href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css", rel="stylesheet")
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Major+Mono+Display&display=swap", rel="stylesheet")


block content
  div.inicio.container
    navbar.container_navbar
      i(class="ri-text-block") 
      h1 #{title}
      ul.prueba
        li
          i(class="ri-search-eye-line")
          a(href="") USUARIO
        li 
          a(href="") HOME 
         
