link(rel='stylesheet', href='/css/styles.css')
meta(name="viewport", content="width=device-width, initial-scale=1.0")

block content
  div.login-container
  section.forms-section
    .forms
      .form-wrapper.is-active
        button.switcher.switcher-login(type="button")
          | Login
          span.underline
        //LOGIN
        form.form.form-login(action='/login' method='POST') 
          fieldset
            .input-block
              label(for="username") Usuario
              input(type="text", name="username", id='username' required)
            .input-block
              label(for="password") Password
              input#login-password(type="password", name="password", required)
          button.btn-login(type="submit") Inicar sesión




