link(rel='stylesheet', href='/css/styles.css')
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css", rel="stylesheet")
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Freckle+Face&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet")
link(href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Major+Mono+Display&display=swap", rel="stylesheet")

block content
  div.signup-container
  section.forms-section-signup
    .forms-signup
      .form-wrapper.is-active-signup
        //REGISTRO
        form.form.form-signup(action='/registrar-usuario' method='POST')
          fieldset.Signup
            .input-inicioSesion
              label(for="username") Usuario
              input#login-name(type="text", name="nombre", required)
              label(for="email") E-mail
              input#signup-email(type="email", name="email", required)
            .input-inicioSesion
              label(for="password") Password
              input#signup-password(type="password", name="password", required)
            .input-inicioSesion
              label(for="confirmPassword") Confirm password
              input#signup-password-confirm(type="password", name="confirmPassword", required)
          button.btn-signup(type="submit") Registrarse
          p.p ¡No lo dudes! y se parte de la familia 
            span.title #{title}
            i(class="ri-emotion-laugh-line")