link(rel='stylesheet', href='/css/styles.css')
meta(name="viewport", content="width=device-width, initial-scale=1.0")

block content
  div.login-container
  section.forms-section
    .forms
      .form-wrapper.is-active
        button.switcher.switcher-login(type="button")
          | Sign Up
          span.underline
        //REGISTRO
        form.form.form-signup(action='/registrar-usuario' method='POST')
            fieldset
            //legend Please, enter your email, password and password confirmation for sign up.
            .input-block
                label(for="username") Usuario
                input#login-name(type="text", name="nombre", required)
                label(for="email") E-mail
                input#signup-email(type="email", name="email", required)
            .input-block
                label(for="password") Password
                input#signup-password(type="password", name="password", required)
            .input-block
                label(for="confirmPassword") Confirm password
                input#signup-password-confirm(type="password", name="confirmPassword", required)
            button.btn-signup(type="submit") Registrarse