*,
*::before,
*::after
  box-sizing: border-box

body
  margin: 0
  padding: 0
  background-color: #3B4465
  color: white
  font-family: "Englebert", cursive 

.title
  font-size: 2rem

//DISEÑO DEL NAVBAR
.container
  max-width: 1440px
  width:100%
  height: 15px 

.navbar //Principal
  width: 100%
  box-shadow: 0 5px 4px rgb(146 161 176 / 15%) //Degradado del navbar

.nav-container //Opciones desplegables
  display: flex
  justify-content: space-between
  align-items: left
  padding-top: 1rem 
  width: 100%
  height: 30px

  .menu-items //LISTA 
    display: flex

  li
    list-style: none

    a
      text-decoration: none
      color: #ffffff
      font-weight: 500
      font-size: 1.2rem
      padding: 0.7rem

      &:hover
        font-weight: bolder

  position: relative
  height: 60px

  .checkbox
    position: absolute
    display: block
    height: 100px // Ajusta la altura para hacer clic en todo el área
    width: 90px //*
    top: 1px
    z-index: 5
    opacity: 0
    cursor: pointer

  .icon-lines
    display: block
    height: 26px
    width: 32px
    position: absolute
    top: 20px
    left: 20px
    z-index: 2
    display: flex
    flex-direction: column
    justify-content: space-between

    .line
      display: block
      height: 3px 
      width: 100%
      border-radius: 15px
      background: #f5f5f5

    .line1
      transform-origin: 0% 0%
      transition: transform 0.4s ease-in-out

    .line2
      transition: transform 0.2s ease-in-out

    .line3
      transform-origin: 0% 100%
      transition: transform 0.4s ease-in-out


  .menu-items //Menú desplegable
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.55)
    height: 50px
    width: 500px
    transform: translate(-160%)
    display: flex
    margin-left: 40px
    padding-left: 40px 
    transition: transform 0.5s ease-in-out
    text-align: center
    border-radius: 10px

    li
      margin-bottom: 1.2rem
      font-size: 1.5rem
      font-weight: 500

.logo
  position: absolute
  display: flex
  top: 2px
  right: 50px
  font-size: 1rem
  color: #f5f5f5
  font-family: "Major Mono Display", monospace
  
  .ri-text-block
    letter-spacing: 0.5rem
    font-size: 2rem
    padding-top: 1rem

  //Función para la rotación de las lineas
.nav-container input[type="checkbox"]:checked ~ .menu-items
  transform: translateX(0)

.nav-container input[type="checkbox"]:checked ~ .icon-lines .line1
  transform: rotate(45deg)

.nav-container input[type="checkbox"]:checked ~ .icon-lines .line2
  transform: scaleY(0)

.nav-container input[type="checkbox"]:checked ~ .icon-lines .line3
  transform: rotate(-45deg)

.nav-container input[type="checkbox"]:checked ~ .logo
  display: none

//DISEÑO DEL CONTENIDO
.contenido_container
  display: flex
  flex-direction: column
  align-items: center
  padding: 0px 20px 
  text-align: center
  margin-top: 2rem

  .campos_container
    display: flex
    flex-direction: column 
    align-items: center
    margin-top: 20px
    height: 25rem

    .seleccion_container
      line-height: 15rem
      height: 20px
      margin-bottom: 1rem
      margin-top: -5rem

      .opcionStyle
        padding: 14px
        font-size: 15px
        border-radius: 5px
        margin-bottom: 2rem
        width: 14rem
        height: 3rem
        background-color: #757ea190
        color: white

      .saltoStyle
        border: none
        padding: 15px
        font-size: 15px
        border-radius: 5px
        height: 3rem
        width: 14rem
        background-color: #757ea190
        color: white

        &::placeholder
          color: #fffcfc

    .campo1_container
      width: 100% 
      max-width: 600px 
      margin-bottom: 20px 
      text-align: center 
      
      .label
        display: block 
        margin-bottom: 1rem 
        margin-top: 4rem
      
      .textarea
        width: 100%
        height: 100%
        background-color: #49537690
        color: white

      .botones
        display: block

    .campo2_container
      width: 100% 
      max-width: 600px 
      margin-bottom: 20px
      margin-left: 0.5rem 
      text-align: center 
      
      .label
        display: block 
        margin-bottom: 1rem
        margin-top: 4rem 
      
      .textarea
        width: 100%
        height: 100%
        background-color: #49537690
        color: white


    .codiButton
      font-size: 15px
      border-radius: 5px
      margin-bottom: 1rem
      width: 14rem
      height: 3rem
      border: none
      background-color: #757ea190
      color: white
      font-weight: bold

    .codiButton:hover
      border: 1px solid
      box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),0 0 20px rgba(255, 255, 255, 0.2)
      outline-color: rgba(255, 255, 255, 0)
      outline-offset: 15px
      text-shadow: 1px 1px 2px #427388

//DISEÑO DEL LOGIN
.forms-section
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center

.form
  overflow: hidden
  text-align: center
  padding: 30px 30px
  border-radius: 15px

.section-title
  font-size: 32px
  letter-spacing: 1px
  color: #fff

fieldset
  height: 250px

.forms
  display: flex
  align-items: flex-start
  text-align: center

.btn-login 
  font-size: 0.9rem
  border-radius: 5px
  margin-top: 1rem
  margin-left: 3rem
  width: 10rem
  height: 3rem
  border: none
  background-color: #757ea190
  color: white
  font-weight: bold

.register-link
  text-decoration: none
  color: #c7dff2c0

.form
  overflow: hidden
  padding: 30px 25px
  border-radius: 5px
  display: flex
  flex-direction: column

.input-block
   margin-top: 1.5rem
   margin-bottom: 10px

.input-block label 
   font-size: 14px
   font-weight: bold
   color: #ffffff

.input-block input
  display: block
  width: 100%
  margin-top: 10px //10px
  padding-right: 15px
  padding-left: 15px
  font-size: 16px
  line-height: 40px //40PX
  color: #f8f6f6
  background: #ffffff6c
  border: 1px solid #b9cfee
  border-radius: 2px
  align-items: center
  text-align: center

.form-wrapper.is-active.form
  background-color: #fbfcff9c
  margin-bottom: 1rem

.buttonHome
  width: 20px
  text-align: center
  background: none
  border: none
  color: white
  font-size: 1rem
  text-decoration: none
  letter-spacing: 0.1em
  margin-right: 3.5rem

//DISEÑO DEL REGISTRO
.forms-section-signup
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center

.form-signup
  overflow: hidden
  text-align: center
  padding: 0px 30px
  border-radius: 15px

.section-title-signup
  font-size: 32px
  letter-spacing: 1px
  color: #fff

.Signup
  height: 400px
  margin-top: 1rem

.forms-signup
  display: flex
  align-items: flex-start
  text-align: center

.form-wrapper.is-active.form-signup
  background-color: #fbfcff9c
  margin-bottom: 1rem

.input-inicioSesion
   margin-top: 1.5rem
   margin-bottom: 10px
   
.input-inicioSesion label 
   font-size: 14px
   font-weight: bold
   color: #ffffff

.input-inicioSesion input
  display: block
  width: 100%
  margin-top: 10px //10px
  padding-right: 15px
  padding-left: 15px
  font-size: 16px
  line-height: 40px //40PX
  color: #f8f6f6
  background: #ffffff6c
  border: 1px solid #b9cfee
  border-radius: 2px
  align-items: center
  text-align: center

.btn-signup
  font-size: 0.9rem
  border-radius: 5px
  margin-top: 1rem
  margin-left: 5rem
  width: 10rem
  height: 3rem
  border: none
  background-color: #757ea190
  color: white
  font-weight: bold
  
.title 
  font-family: "Major Mono Display", monospace
  font-size: 12px

@media screen and (max-width: 768px)
  .contenido_container
    .campos_container
      display: flex
      flex-direction: column // Alinea los campos 
      align-items: center 

      .seleccion_container
        margin-top: 2.5rem
        margin-bottom: 5rem
      
      .botones
        margin-top: 6rem
        margin-bottom: 1rem

      .campo1_container,
      .campo2_container
        width: 100% 
        max-width: none 
        margin-bottom: 20px

  .login-container 
    margin-top: 5rem

    .form.form.form-login
      width: 100% // Ajusta el ancho máximo del formulario según tu preferencia
      margin-top: -1rem // Ajusta el margen superior según tu preferencia
    
    .form.form.form-signup
      width: 100% // Ajusta el ancho máximo del formulario según tu preferencia
      margin-top: -1rem // Ajusta el margen superior según tu preferencia

@media screen and (min-width: 769px)
  .contenido_container
    .campos_container
      flex-direction: row // Alinea los campos en una fila en pantallas más grandes
      justify-content: space-between // Espacia los campos horizontalmente en pantallas más grandes

      .seleccion_container
        margin-bottom: 10rem

        .saltoStyle
          margin-bottom: 1rem

      .botones
        margin-top: -3rem
        margin-bottom: 5rem

      .campo1_container,
      .campo2_container
        width: calc(50% - 15px) // ocupen la mitad del contenedor, con un margen de 10px entre ellos
        margin-bottom: 5rem // Elimina el margen inferior entre campos 
        margin-right: 10px // Ajusta el margen derecho entre campos 
  
  .login-container 
    margin-top: 5rem

    form.form.form-login
      max-width: calc(100% - 15px)// Ajusta el ancho máximo del formulario según tu preferencia
      margin-top: -1rem // Ajusta el margen superior según tu preferencia

    form.form.form-signup
      max-width: calc(100% - 15px)// Ajusta el ancho máximo del formulario según tu preferencia
      margin-top: -1rem // Ajusta el margen superior según tu preferencia